# Server
PORT= # Port number for the server to listen on
DB_PORT= # Port number for the database connection
DB_NAME= # Name of the database
DB_USERNAME= # Username for the database connection
DB_PASSWORD= # Password for the database connection

# Client
VITE_PORT= # The port on which client will run