PORT= # Port number for the server to listen on
NODE_ENV= # Environment mode: dev | prod
CLIENT_URL= # URL of the client application

JWT_ACCESS_SECRET= # Secret key for signing JWT access tokens
JWT_ACCESS_EXPIRES_IN= # Expiration time for JWT access tokens

JWT_REFRESH_SECRET= # Secret key for signing JWT refresh tokens
JWT_REFRESH_EXPIRES_IN= # Expiration time for JWT refresh tokens

JWT_VERIFY_EMAIL_EXPIRES_IN= # Expiration time for JWT email verification tokens
JWT_RESET_PASSWORD_EXPIRES_IN= # Expiration time for JWT password reset tokens

DB_PORT= # Port number for the database connection
DB_HOST= # Hostname for the database connection
DB_NAME= # Name of the database
DB_USERNAME= # Username for the database connection
DB_PASSWORD= # Password for the database connection

DATABASE_URL= # Connection string for the databas: "postgresql://<DB_USERNAME>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>"

EMAIL_HOST= # SMTP host for sending emails
EMAIL_PORT= # SMTP port for sending emails
EMAIL_USER= # SMTP username for sending emails
EMAIL_PASSWORD= # SMTP password for sending emails